doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/app.css")
    block head
  body
    block body
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/app.js")
